.ChatMain
  .GroupHeader
    .GroupHeader__Details
      .GroupHeader__Name test
      %ul.GroupHeader__Member 
        Member:
        %li.GroupHeader__List 
          ryo
    = link_to "#", class: "Edit" do
      Edit
  .MessageField
    =render @messages
  .ChatMain__bottom
    = form_with model: [@group, @message], html: {class: "Formbox"}, local: true do |f|
      .Form__items
        = f.text_field :message, placeholder: "type a message", class: 'Form__items__text'
        %label{class: "Form__items__image"}
          = icon('far', 'image', class: 'Form__icons')
          = f.file_field :image, class: 'Form__items__image__hidden'
      = f.submit "Send", class: 'Send-Btn'