.SideBar
  .Side-header
    .User-items
      %p.username 
        = current_user.name
      .User-icons
        = link_to "#", class: "list" do
          = icon('far', 'edit', class: 'edit')
        = link_to edit_user_path(current_user), class: "list" do
          = icon('fas', 'cog')
  .SideBar__group
    .GroupBox
      %p.name techcamp
      %p.message まだメッセージがありません 
    .GroupBox
      %p.name techcamp
      %p.message まだメッセージがありません 
    .GroupBox
      %p.name techcamp
      %p.message まだメッセージがありません 